html
  head
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css')
  body
    block content
    block footer
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js')
