extends layout.pug

block content
  link(rel='stylesheet' href='static/css/auth.css')
  .ui.container
    h1 Signup form
    form.ui.form(method='POST')
      .field
        label Username
        input(type='text' name='username')
      .field
        label Password
        input(type='password' name='password')
      .field
        button.ui.button.green(type='submit') Submit
        a.ui.button.red(href='/login') Login page
      
